{%extends 'base.html'%}

{%block title%} home {%endblock%}

{%block content%}

<div class="jumbotron">
  <h1 class="display-4">welcome</h1>
  <p class="lead">my name is nanthagopal, here i built django web application.</p>
  <hr class="my-4">
  <p>user can register,login and logout this page</p>

  {%if user.is_authenticated%}
  <a class="btn btn-danger btn-lg" href="javascript:{document.getElementById('logout').submit()}">Logout</a>

  <form id='logout' method="POST" action="{%url 'logout'%}">
    {%csrf_token%}
    <input type="hidden">
  </form>

  {%else%}
  <a class="btn btn-primary btn-lg" href="{%url 'register'%}">Register</a>
  <a style="margin-left: 30px;" class="btn btn-success btn-lg" href="{%url 'login'%}">Login</a>
  {%endif%}
</div>

<style>
  .notification {
    background-color: rgb(120, 120, 120);
    text-align: center;
    color: white;
    margin: 3px 0 0;
  }
</style>
<div class="notification">
  {%for message in messages%}
  {{message}}
  {%endfor%}
</div>

{%endblock%}